
<div style="position: absolute; bottom: 0px; left: 0;right: 0;" >
    <p style="color: white; background:#ee6e73; text-align: center; padding: 15px 0 ; font-size: 25px; font-weight: normal;">
       Created by Madhav Pokhrel</p>
</div>
