<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="#!">Created by Madhav Pokhrel</a>
    </div>
  </div>
</footer>
