<a href="/book" style="padding-left: 20px; "class="brand-logo left">Madhav Library </a>
<ul class="right">
  <li><a href="/book/new">Create Book</a></li>
    <li><a href="/book">Login</a> </li>
    <li><a href="/book">Sign Up</a> </li>
</ul>
