<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('./partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1> New Book Page</h1>
      <form action="/book/create" method="POST">

        <label for="name">Book Name:</label>
        <input type="text" name="name" required />

        <label for="author">Author Name:</label>
        <input type="text" name="author" />

        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" />

        <label for="img">Book Image Link:</label>
        <input type="text" name="img" />

        <br/>
        <br>
        <input class="btn" type="submit" value="Update">
      <form>
    </div>

    <<!-- footer from partials/footer.ejs -->
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
